{% extends "base.twig" %}
{% set Site = fetch("Site") %}
{% block description %}Tel: {{Site.Telefon}}, Adresa: {{Site.Adresa}} {% endblock %}
{% block content %}

	<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
						<div class="row">
							<div class="heading-content col-md-12">
								<p><a href="index">Home</a> </p>
								<h2> <em>Kontakt</em></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contact-us wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
<!--		<div id="map"></div> -->
    <iframe id="map" width="98%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q={{Site.Adresa}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
		</iframe>    
	</div>

	<section>
		<div class="contact-content wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="send-message">
							<div class="sep-section-heading">
								<h2>Pišite <em>nam</em></h2>
							</div>
							<form id="contact_form" action="contact_us.html#" method="POST" enctype="multipart/form-data">
								<div class="row">
									<div class=" col-md-4 col-sm-4 col-xs-6">
										<input type="text" class="blog-search-field" name="s" placeholder="Vaše ime..." value="">
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<input type="text" class="blog-search-field" name="s" placeholder="Vaš email..." value="">
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12">
										<input type="text" class="subject" name="s" placeholder="Tema..." value="">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<textarea id="message" class="input" name="message" placeholder="Poruka..."></textarea>
									</div>
								</div>
								<div class="row">
									<div class="submit-coment col-md-12">
										<div class="primary-button">
											<a href="contact_us.html#">Pošalji<i class="fa fa-paper-plane"></i></a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-info">
							<div class="sep-section-heading">
								<h2>Kontakt <em>Informacije</em></h2>
							</div>
							<p>{{Site.KontaktTxt}}</p>
							<div class="info-list">
								<ul>
									<li><a href="tel: {{Site.Telefon}}"><i class="fa fa-phone"></i><span>{{Site.Telefon}}</span></a></li>
									<li><a href="mailto: {{Site.email}}"><i class="fa fa-envelope"></i><span>{{Site.email}}</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}


{#
{% block lastscript %}
  <!-- Google Map -->
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="assets/js/jquery.gmap3.min.js"></script>

	<!-- Google Map Init-->
  <script>
		// Initialize and add the map
		function initMap() {
		  // The location of Uluru
		  var uluru = {lat: 50.688363, lng: 10.436397};
		  // The map, centered at Uluru
		  var map = new google.maps.Map(
		      document.getElementById('map'), {zoom: 4, center: uluru});
		  // The marker, positioned at Uluru
		  var marker = new google.maps.Marker({position: uluru, map: map});
		}
  </script>
  <!--Load the API from the specified URL
  * The async attribute allows the browser to render the page while the API loads
  * The key parameter will contain your own API key (which is not needed for this tutorial)
  * The callback parameter executes the initMap() function
  -->
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
  </script>

{% endblock %}
#}