{% extends "base-days.twig" %}
{% block content %}
{% set code = _GET['1'] %}
{% set countryname = _GET['2'] %}
{% set countrycodelower = code | lower %}

{% set flagurl = '/flags/' ~ countrycodelower ~ '.svg' %}

{% set Oglas = fetch2("https://daysapi.com/api/v2/public_holidays/?public=true" ~ code ~ "/2024") %}
<h2>{{countryname}} <img style="width:3rem" src="{{flagurl}}"></h2>

<div style="overflow:auto; height:100%">
  <table class="table table-striped">
  <thead style="position: sticky; top: 0;">
    <tr>
      <th scope="col">Localname</th>
      <th scope="col">Name</th>
      <th style="width:12rem" scope="col">Observed</th>
      <th scope="col">Day</th>
    </tr>
  </thead>
  <tbody>
  {% for item in Oglas %}
  <tr>
    <td> {{item.localname}} </td>
    <td> {{item.name}} </td>
    <td class="date"> {{item.observed}} </td>
    <td> {{item.weekday.date.name}} </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
<script>
function updateDates() {
    let list = document.querySelectorAll('.date')
    for ( i = 0; i < list.length; i++ ) {
        list[i].innerHTML = new Intl.DateTimeFormat().format(new Date(list[i].innerHTML.substr(0,11)))
    }  
}
//updateDates();
window.onload = updateDates;
</script>
{% endblock %}
