{% extends "base-days.twig" %}
{% block content %}
{% set ip = _SERVER['HTTP_X_FORWARDED_FOR'] %}
{% set code = _GET['1'] %}
*{{code}}*

{% if code=='' %}
    {% set ipapi = fetch2("https://api.country.is/" ~ ip) %}
    {% set code = ipapi.country %}
{% endif %}

{% set countries = fetch2("https://daysapi.com/api/v2/public_countries") %}
<div class="row" style="overflow: auto;">
    <div class="col-sm-4" style="overflow: auto; height: 100%;" x-data="{
  search: '',
  show_item(el) {
    return this.search === '' || el.dataset.text.toLowerCase().includes(this.search.toLowerCase())
  }
}" >

        <div id="users">
            <input  class="search form-control" placeholder="Search" type="search" x-model="search" />
            




            <ul class="list list-group">
                {% for item in countries %}
                    <a data-text="{{item.name}}" x-show="show_item($el)" x-transition.duration.500ms x-transition.scale href="/index-days/{{item.code}}/{{item.name}}" class="list-group-item" >
                    <img src="/flags/{{item.code | lower}}.svg" loading="lazy"> 
                    {{item.name}}
                    </a>
                {% endfor %}
            </ul>

        </div>

    {#
        <h2>Counties</h2>
        <div style="overflow:auto; height:100%">
            <table class="table table-striped">
            <thead style="position: sticky; top: 0;">
                <tr>
                <th scope="col" style="width: 3rem;">Flag</th>
                <th scope="col">Code</th>
                <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
            {% for item in countries %}
            <tr>
                <td> <img src="/flags/{{item.code | lower}}.svg" loading="lazy"> </td>
                <td> {{item.code}} </td>
                <td> <a href="/index-days/{{item.code}}/{{item.name}}">{{item.name}}</a> </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    #}
    </div>

    <div class="col-sm-8" style="overflow: auto; height: 100%;">


        {% set countryname = _GET['2'] %}
        {% set countrycodelower = code | lower %}

        {% set flagurl = '/flags/' ~ countrycodelower ~ '.svg' %}

        {% set Oglas = fetch2("https://daysapi.com/api/v2/public_holidays/" ~ code ~ "/2024?public=true") %}
        <h2>{{countryname}} <img style="width:3rem" src="{{flagurl}}"></h2>

        <div style="overflow:auto; height:100%">
        <table class="table table-striped">
        <thead style="position: sticky; top: 0;">
            <tr>
            <th scope="col">Localname</th>
            <th scope="col">Name</th>
            <th style="width:12rem" scope="col">Observed</th>
            <th scope="col">Day</th>
            </tr>
        </thead>
        <tbody>
        {% for item in Oglas %}
        <tr>
            <td> {{item.localname}} </td>
            <td> {{item.name}} </td>
            <td class="date"> {{item.observed | slice(0, 10)}} </td>
            <td> {{item.weekday.date.name}} </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>

    </div>

</div>
<script src="//unpkg.com/alpinejs" defer></script>
{% endblock %}
