{% extends "base-days.twig" %}
{% block content %}

{{_SERVER['HTTP_X_FORWARDED_FOR']}}
{% set ip = _SERVER['HTTP_X_FORWARDED_FOR'] %}
{% set ipapi = fetch2("https://api.country.is/" ~ ip) %}

{{ipapi.country}}


{% set Oglas = fetch2("https://daysapi.com/api/v2/public_countries") %}
<h2>Counties</h2>
<div style="overflow:auto; height:100%">
  <table class="table table-striped">
  <thead style="position: sticky; top: 0;">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
  {% for item in Oglas %}
  <tr>
    <td> {{item.code}} </td>
    <td> <a href="country/{{item.code}}">{{item.name}}</a> </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
